@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #ebebeb;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  all: unset;
  cursor: pointer;
}
li,
ul {
  list-style: none;
}

/* Global style end */

/* Navbar start */

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  width: 90%;
  margin: auto;
  position: fixed;
  top: 0;
}

.logo {
  width: 10%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-list {
  display: flex;
  gap: 1.5rem;
}

input:focus {
  outline: none;
}

li a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

li a::after {
  content: "";
  height: 0.3rem;
  background-color: #c6ae70;
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  z-index: 2;
  width: 100%;
}

li a:hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}
/* Navbar end */

/* Call start */

.call {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcc966;
  color: #212121;
  gap: 4rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 300;
}

/* Call  end */

/* Request and consaltation start */
.consaltation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 10rem;
  background-color: #dcc966;
}

.consaltation p {
  font-size: 2.8rem;
  font-weight: 500;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

/* Request and consaltation end */

/* About us Start  */
.why-us {
  padding: 6rem 0;
}
.sec-heading {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2.8rem;
}
.sec-p {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 300;
}
.w-90 {
  width: 90%;
  margin: 0 auto;
}

.sec-hp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0 3rem;
  gap: 3rem;
}

.p-border {
  border-left: 3px solid #c6ae70;
  padding: 0 3.3rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: auto;
  width: 80%;
}

.card {
  background: #fff;
  padding: 3rem 0;
  color: #000;
  text-align: center;
  font-size: 4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 2rem 0;
}

.card p {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 2rem;
}

.card h3 {
  margin: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1.7;
}

/* Aboutus end  */

/* hero start */
.hero {
  min-height: 100vh;
  background: url("./assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 15rem;
  padding-bottom: 6rem;
}

.cta {
  font-size: 2.4rem;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2rem 4rem;
  color: #f5f5f5;
}

.hero h1 {
  font-size: 6.8rem;
  font-weight: 500;
  color: #f5f5f5;
}
/* hero end */

/* Information start */

.info-section {
  background-color: #d9d9d9;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.p-bolder {
  font-weight: 500;
}
.info-section > * {
  width: 60%;
}

.img {
  position: absolute;
  right: 0;
  width: 37%;
}

/* Register start  */

.reg-now {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}

.register-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  background: url("./assets/register.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  place-content: center;
}

.r-p {
  font-size: 4rem;
  font-weight: 500;
  padding: 0 7rem;
}

.c-w {
  color: #fff;
}

.c-y {
  color: #cccc66;
}

.form {
  background: #fff;
  width: 70%;
  padding: 3rem 2rem;
}
.register-sec .right,
.register-sec .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-sec .right {
  align-items: center;
}
.register-sec .left {
  padding-left: 3rem;
}

.form .input-div {
  width: 100%;
  margin-bottom: 3rem;
}

.form .input-div input {
  font-size: 1.4rem;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #b4bec8;
  border-radius: 5px;
}

.last-line {
  font-size: 1.1rem;
  font-weight: 400;
}

.last-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last-reg p {
  font-size: 1.6rem;
}

.last-reg button {
  background: #cccc66;
  font-size: 1.8rem;
}

/* register   */

/* footer start  */

footer {
  background-color: #3e4551;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 7rem;
  padding: 2rem;
}

.footer-div {
  color: #fff;
}
.footer-div li {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}
.footer-div li i {
  margin-right: 1.5rem;
}
.footer-h3 {
  color: #cccc66;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.footer-div p {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.footer-div .input-email input {
  color: #b5b5b5;
  font-size: 1.5rem;
  border: 1px solid #ebebeb;
  font-weight: 500;
  padding: 1.4rem 0.8rem;
  background: transparent;
  width: 100%;
}
.input-email {
  position: relative;
}
.input-email i {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  top: 1.3rem;
}
/* footer ends */

/* testimonial start */

.box {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 1.5rem 0; */
}

.left-column {
  background: url("./assets/testimonialBg.png");
  padding: 6rem 7rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-column {
  padding: 6rem 5rem;
}

.box .testi_heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: #dcc966;
  position: relative;
  margin-bottom: 5rem;
}

.box .testi_heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 10%;
  background: #dcc966;
}

.right-column h3 {
  margin-bottom: 4rem;
}

.left-column p {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 4rem;
}

.right-column p {
  font-size: 2.4rem;
  font-weight: 400;
  color: #212121;
  margin-bottom: 4rem;
}

.about-image p {
  font-size: 1.6rem;
  font-weight: 400;
}
.slider {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
.slider p {
  margin-bottom: 2rem;
}

.about-image i {
  color: #ffd33c;
}
.box  .left-column .testi_heading span {
  color: #fff;
}
.box .testi_heading span {
  color: #212121;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  margin-bottom: 9rem;
}

.boxes .empty {
  background: #dcc966;
  height: 70%;
  width: 75%;
}

.boxes .fancy {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  position: relative;
}

.boxes .fancy::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 1px solid #dcc966;
  top: 40%;
  left: -60px;
  z-index: 20;
}

.line {
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  left: 45%;
  top: 0;
  background: #dcc966;
  z-index: 10;
  height: 100%;
  width: 1px;
}

.boxes .fancy p {
  font-size: 1.4rem;
}
.testimonial {
  padding: 1rem;
}
/* testimonial end */
